<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Connection</title>
    <script src="../js/login.js"></script>
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link type="text/css" href="css/signin.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <main class="form-signin" id="loginApp">
      <form>
        <h1 class="h3 mb-3 fw-normal"> {{ titleConnection }} </h1>
        <label for="inputEmail" class="visually-hidden"> {{ email }}</label>
        <input
          type="email"
          v-model="inputEmail"
          id="inputEmail"
          class="form-control"
          placeholder="Adresse Email"
          required
          autofocus
        />
        <label for="inputPassword" class="visually-hidden"> {{ password }}</label>
        <input
          type="password"
          v-model="inputPassword"
          id="inputPassword"
          class="form-control"
          placeholder="Mot de passe"
          required
        />
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> {{ rememberMe }}
          </label>
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          v-on:click="login()"
        >
          {{ login }}
        </button>
      </form>
    </main>
  </body>
</html>
